{% extends "base.html" %}
{% block content %}

<section>
    <div class="container text-center d-flex flex-column justify-content-center align-items-stretch px-4 pt-4 h-100">
        <form class="d-flex pb-1" id="search-companies" action=" {{ url_for('search') }}" method="POST">
            <input class="form-control me-2" type="text" placeholder="Type a company, industry, region"
                aria-label="Search" name="query">
            <button class="btn btn-outline-primary" type="submit">Search</button>
            <a href="{{ url_for('get_companies') }}" class="btn btn-outline-secondary ms-1">Reset</a>
        </form>
    </div>
</section>

{% if companies|length > 0 %}
{% for company in companies %}
<section class="company-list mt-3 container">
    <hr>
    <div class="row mx-2 px-md-3 d-flex align-items-center company-item-wrapper">
        <a href="{{ url_for('company_profile', company_id=company._id) }}" class="col-9">
            <div class="row">
                <div class="col-4">
                    <img src="{{ company.media.companyLogo }}" class="img-thumbnail rounded" width="200" height="200"
                        alt="{{ company.companyName }} logo">
                    <!-- </a> -->
                </div>
                <div class="col-8">
                    <!-- <a href="{{ url_for('company_profile', company_id=company._id) }}"> -->
                    <p class="company-name">{{ company.company_info.company_name }}</p>
                    <p class="company-address">Address: {{ company.company_info.company_address }}</p>
                    <p class="company-size">Size: {{ company.company_info.company_size }}</p>
                    <p class="industry">Industry: {{ company.company_info.company_industry }}</p>
                </div>
            </div>
        </a>
        {% if session.user|lower == company.created_by|lower %}
        <div class="col-3">
            <a href="{{ url_for('edit_profile', company_id=company._id) }}" class="btn btn-sm btn-primary">Edit</a>
            <a href="{{ url_for('delete_profile', company_id=company._id) }}" class="btn btn-sm btn-danger">Delete</a>
        </div>
        {% endif %}
    </div>

    {% endfor %}
    {% else %}
    <div class="container">
        <h3 class="row">No results found</h3>
    </div>

    {% endif %}
</section>

{% endblock %}